{% extends 'appointment/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'admin_rel/dashboard.css' %}">
{% endblock %}
{% block main %}

    {% for item in context %}
    <div class="container" style="background-color: aquamarine; margin: 2em;">

        <h1>{{ item.username }} | {{ item.email }}</h1>
        <h2>{{ item.date }} | {{ item.appointment_time }}</h2>
        <h4>{{ item.service }}</h4>
        <h1>Is approved: {{ item.is_approved }}</h1>
    </div>
        {% endfor %}
{% endblock %}